@font-face {
    font-family: 'Arimo', sans-serif;
}

@font-face {
    font-family: 'Pacifico', cursive;
}

body {
    font-family: 'Montserrat', sans-serif;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*h1 {

    font-family: Arimo, sans-serif;

}*/

#Nombre {

    font-family: Pacifico;
    color: #f8f8f8;
    font-size: 1.4em;
    text-shadow: 2px 2px 5px black;
    font-weight: initial;

}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.section {
  text-align: center;
  background-color: #f8f8f8;
}

#sectionCabecera {
    text-shadow: 0px 0px 3px black;
}

#sectionCabecera h1{
    font-size: 3rem !important;
}

@media (max-width: 768px) {
    #sectionCabecera h1{
        font-size: 1.5rem !important;
    }    
    
}

#sectionQueHago {
    background-image: linear-gradient(#f8f8f8, #fff);
}

#sectionQueUso {
    background-image: linear-gradient(#fff, #f8f8f8);
}

#sectionCabecera {
    color: #f8f8f8;
    background: linear-gradient(to right bottom, rgb(82,127,195,0.8), rgb(90,132,197,0.8), rgb(97,137,199,0.8), rgb(105,143,200,0.8), rgb(112,148,202,0.8)), url("../img/cabildo.jpg");
    background-size: cover;
}

#sectionPersonal {
    color: #f8f8f8;
    background-color: #527fc3;
    background-image: linear-gradient(to right bottom, #527fc3, #5a84c5, #6189c7, #698fc8, #7094ca);
}

#cardFrontEnd .card-header {
    background-color: #527fc3;
    font-family: Pacifico;
    color: #f8f8f8;
}

#cardHerramientas .card-header {
    background-color: grey;
}
#cardHerramientas {
    color: #f8f8f8;
}
#cardHerramientas .card-body {
    background-color: red;
}

.section h1 {
    margin-top: 3rem
}

#accordion, 
#accordion2 {
    border-radius: 2rem;
    box-shadow: 0px 5px 5px #f8f8;
}

.card-title {
    margin-top: -2rem;
    background-color: white;
    border-radius: .75rem;
    border: 1px solid grey;
}

.card-header {
    padding: 0.25rem 1.25rem;
}

.card-header h2{
    margin-bottom: 0;
}

#collapseBackEnd {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  color: #41FF00;
}
/*#sectionPersonal {
    background-color: #ebf82b;
    background-image: linear-gradient(to right bottom, #ebf82b, #e7f42f, #e4f032, #e0ec35, #dde838);
}
*/

svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5vw;
}
/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status {
    background-image: url(../img/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.modal {
    color: #000;
}

h1 {
    font-weight: 600;
}

.btn-link {
    font-weight: 400;
    font-size: 1.3rem;
}

.btn-link:hover, .btn-link:visited, .btn-link:focus {
  text-decoration: none;
}

#accordion .card {
    border-radius: 0px;
}

#accordion .card:first-child, 
#accordion .card:first-child .card-header,
#accordion2 .card:first-child,
#accordion2 .card:first-child .card-header {
    border-radius: 2rem 2rem 0px 0px;
}

#accordion .card:last-child, 
#accordion .card:last-child .card-header,
#accordion2 .card:last-child, 
#accordion2 .card:last-child .card-header {
    border-radius: 0px 0px 2rem 2rem;
}