@font-face {
    font-family: 'Arimo', sans-serif;
}

@font-face {
    font-family: 'Pacifico', cursive;
}

@font-face {
    font-family: 'ecoicon';
    src:url('../src/Fonts/ecoicons/ecoicon.eot');
    src:url('../src/Fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
        url('../src/Fonts/ecoicons/ecoicon.woff') format('woff'),
        url('../src/Fonts/ecoicons/ecoicon.ttf') format('truetype'),
        url('../src/Fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*h1 {

    font-family: Arimo, sans-serif;


}*/

#Nombre {

    font-family: Pacifico;
    color: #f8f8f8;
    font-size: 1.4em;
        text-shadow: 2px 2px 5px black;

}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.section {
  text-align: center;
}

#sectionCabecera {
    color: #f8f8f8;
    background-color: #527fc3;
    background-image: linear-gradient(to right bottom, #527fc3, #5a84c5, #6189c7, #698fc8, #7094ca);
}
#sectionFacil {
  background-color: #f8f8f8;
}
#sectionNerda {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  color: #41FF00;
}
#sectionPersonal {
    background-color: #ebf82b;
    background-image: linear-gradient(to right bottom, #ebf82b, #e7f42f, #e4f032, #e0ec35, #dde838);
}

svg {
    position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5vw;
}
/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status {
    background-image: url(preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.modal {
    color: #000;
}